@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "josefinSans";
  src: url(./components/assets/Josefin_Sans/static/JosefinSans-Regular.ttf);
}

body {
  font-family: "josefinSans";
}

.otp-group input {
  margin: auto;
  width: 60px !important;
  height: 72px !important;
  border-radius: 14px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  outline: 0;
  text-align: center !important;
}

@media screen and (max-width: 768px) {
  .otp-group input {
    margin: auto;
    width: 60px !important;
    height: 62px !important;
    border-radius: 14px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    outline: 0;
    text-align: center !important;
  }
}

@media screen and (max-width: 1024px) {
  .otp-group input {
    width: 53px !important;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.rwd-table tr:first-child {
  border-top: none;
  background: #dfe5ff;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #dfe5ff;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #dfe5ff;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: 0.5em;
}

.rwd-table td:last-child {
  margin-bottom: 0.5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  border-radius: 0.8em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #19287d;
}

.rwd-table th,
.rwd-table td {
  padding: 0.5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 815px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #19287d;
    color: #dfe5ff;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1.2em !important;
  }
}

.Accordiondata button {
  display: flex !important;
  justify-content: space-between !important;
  padding: 15px 30px ;
}
